body{
    margin: 0;
    background-color: #d8d8d8;
}
h1{
    text-decoration: overline;
    text-decoration-color: #04AA6D ;
}
h2{
    color: #04AA6D;
}
h3{
    color:#04AA6D
}
#SideNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: #f1f1f1;
}

li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active{
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active){
    background-color: #04AA6D;
    color: white;
}

#intro_para{
    float: left;
    overflow: hidden;
}

#skills_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

#hobbies_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}


#profile_picture{
    border-radius: 6.25%;
    position: relative;
    top: -10px;
    left: -10px;
    width: 220px;
    height: 220px;
    margin-left: 10px;
    
    
}
.decorative-line{
    
    height: 2px;
    border-color: #04AA6D;
    background-color: #04AA6D;
    margin: 0;
}


/* Sources */
/* Creation of the Menu Navigation Bar was in help from this website: https://www.w3schools.com/css/css_navbar.asp *
/* W3Schools was in help with how to figure out positioning of sectors */
/* W3Schools was in help with how to make lists be shown in matrix/grid format
/* W3Schools was in help with how to make a decorative line that divides Profile picture and profile content*/