body{
    margin: 0;
    background-color: #d8d8d8;
}
h1{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-decoration: overline;
    text-decoration-color: #04AA6D;
}
h2{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #04AA6D;
}
h3{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#D45D00
}
#SideNav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: #3B6739 ;
}

li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active{
    background-color: #04AA6D;
    color: #D45D00;
}

li a:hover:not(.active){
    border-radius: 6.25%;
    background-color: #D45D00;
    color: #000000;
}

#intro_para{
    float: left;
    overflow: hidden;
}

#skills_list{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

#hobbies_list{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}


#profile_picture{
    border-radius: 6.25%;
    position: relative;
    top: -10px;
    left: -10px;
    width: 220px;
    height: 220px;
    margin-left: 10px;
    
    
}
.decorative-line{
    
    height: 2px;
    border-color: #04AA6D;
    background-color: #04AA6D;
    margin: 0;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:underline;
    text-decoration-color: #D45D00;
    color: #04AA6D;
}
#project_list li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #D45D00;
}


/* Sources */
/* Creation of the Menu Navigation Bar was in help from this website: https://www.w3schools.com/css/css_navbar.asp *
/* W3Schools was in help with how to figure out positioning of sectors */
/* W3Schools was in help with how to make lists be shown in matrix/grid format
/* W3Schools was in help with how to make a decorative line that divides Profile picture and profile content*/